<!-- Guziki dla klasy "category-card -->
<div class="card category-card">
      <!-- Dodajemy zmienną, która będzie przekazywać nazwy kategorii -->
      <span> {{category.name}} </span>

      <!--      Element zbiorczy na przyciski-->
      <div>
        <button (click)="emitRemove()" class="btn btn-sm margin-left-sm">
          <fa-icon [icon]="trashIcon"></fa-icon>
        </button>

        <button [routerLink]="[category.category_id, 'flash-cards']" class="btn btn-sm margin-left-sm">
          <fa-icon [icon]="commentsIcon"></fa-icon>
        </button>

        <button class="btn btn-sm margin-left-sm">
          <fa-icon [icon]="playIcon"></fa-icon>
        </button>
      </div>

    </div>
